:root{
    --bg-color: #02021b;
    --bg-content-color: #30e0a1;
    --bg-content-color1: #45adff;
    --bg-content-color2: #e3d35ad7;
    --font-color1: #ccd6f6;
    --font-color2: #8892b0;
    --font-title-size: 4rem;
    --font-p-size: 20px;
}
body{
    background-color: var(--bg-color);
    color: var(--font-color1);
}

@media screen and (max-width: 1023px){
    .title{
        font-size: 60px;
    }
    main{
        margin: 0px 100px;
    }
    nav{
        position: fixed;
        margin-top: 250px;
    }
    nav p {
        margin: 2rem;
    }
    nav li{
        margin: 2rem;
        list-style: none;
    }
    nav li a{
        font-size: 15px;
        color: var(--font-color2);
    }
    .logo img{
        height: 150px;
        width: 150px;
    }
    .greetings{
        margin: 10rem 0;
    }
    .greetings p{
        font-size: 20px;
        line-height: 35px;
        color: var(--bg-content-color1);
        font-family: monospace;
    }
    .greetings h1{
        font-size: 4rem;
        margin: 1rem 0;
        line-height: 70px;
    }
    .greetings button{
        padding: 20px 28px;
        color: var(--bg-content-color1);
    }
    #about{
        margin-top: 15rem;
    }
    .aboutContainer1{
        flex-basis: 50%;
    }
    .aboutContainer2{
        flex-basis: 20%;
    }
    .aboutContainer1 p{
        color: var(--font-color2);
        font-size: 18px;
        line-height: 26px;
        text-align: justify;
    }
    .aboutContainer2 img{
        height: 350px;
        width: 300px;
        border-radius: 20px;
        margin-left: 20px;
        margin-top: 80px;
    }
    .techStack{
        font-size: 18px;
    }
    .containerProjects p{
        font-size: 18px;
        line-height: 25px;
        margin-top: 30px;
        text-align: justify;
    }
    .containerProjects img{
        width: 350px;
        height: 300px;
        transition: transform .5s;
        opacity: .7;
    }
    .project1{
        display: flex;
    }
    .project2{
        display: flex;
    }
    .projectLeft{
        flex-basis: 50%;
        align-items: center;
    }
    .projectRight{
        flex-basis: 60%;
        align-items: center;
    }
    footer{
        margin-top: 20rem;
    }
    footer button{
        padding: 20px 28px;
        background-color: transparent;
        border-color: var(--bg-content-color1);
        border-width: 1.5px;
        border-radius: 5px;
        color: var(--bg-content-color1);
        cursor: pointer;
    }
}

@media screen and (max-width: 480px){
    .hamburger{
        display: block;
    }
    .hamburger .line{
        width: 25px;
        height: 2px;
        background: var(--font-color1);
        margin: 5px 0;
    }
    .hamburger.active .line:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    nav{
        display: none;
    }
    main{
        margin: 0;
    }
    section{
        margin: 100px 50px;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        list-style: none;
        text-decoration: none;
        position: fixed;
        z-index: 99;
        top: 0;
        box-shadow: 0 2px 4px 0 rgba(2,12,27,0.7);
    }
    .logo img{
        height: 50px;
        width: 150px;
    }
    .navigations{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 30px;
        left: -100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all .5s;
    }
    .navigations ul li{
        display: block;
    }
    .navigations a{
        font-size: 16px;
    }
    .navigations.active{
        left: 0;
    }
    .hamburger{
        display: block;
    }
    .hamburger .line{
        width: 25px;
        height: 2px;
        background: var(--font-color1);
        margin: 5px 0;
    }
    .hamburger.active .line:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .contents{
        position: fixed;
        width: 70%;
        height: 100vh;
        top: 30px;
        right: -100%;
        background-color: #02021bd7;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all .5s;
    }
    .contents ul{
        margin-top: 15rem;
    }
    .contents ul li{
        display: block;
    }
    .contents a{
        font-size: 25px;
        line-height: 5rem;
        color: var(--bg-content-color1);
    }
    .contents.active{
        right: 0;
    }
    .title{
        font-size: 40px;
    }
    .greetings{
        margin: 16rem 0;
    }
    .greetings p{
        font-size: 17px;
        line-height: 35px;
        color: var(--bg-content-color1);
        font-family: monospace;
    }
    .greetings h1{
        font-size: 50px;
        line-height: 40px;
        margin: 20px 0;
    }
    .position{
        font-size: 32px;
    }
    .greetings button{
        padding: 15px 28px;
        color: var(--bg-content-color1);
    }
    #about{
        margin-top: 15rem;
    }
    .containerAbout{
        display: flex;
        flex-direction: column;
    }
    .aboutContainer1{
        flex-basis: 50%;
    }
    .aboutContainer2{
        flex-basis: 20%;
    }
    .aboutContainer1 p{
        color: var(--font-color2);
        font-size: 18px;
        line-height: 26px;
        text-align: justify;
    }
    .aboutContainer2 img{
        height: 250px;
        width: 200px;
        border-radius: 20px;
        margin: 0 0;
        margin-left: 5rem;
    }
    .techStack{
        font-size: 18px;
    }
    .containerProjects{
        display: flex;
        flex-direction: column;
    }
    .containerProjects img{
        width: 300px;
        height: 250px;
        transition: transform .5s;
        opacity: .7;
    }
    .containerProjects h2{
        margin: 1rem;
    }
    .project1{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .project2{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .projectLeft{
        align-items: center;
    }
    .projectRight{
        margin: 20px 0;
        align-items: center;
    }
    .containerProjects p{
        font-size: 18px;
        line-height: 25px;
        margin: 0;
        text-align: justify;
    }
    .containerProjects button{
        padding: 10px 15px;
        margin: 0;
        background-color: transparent;
        cursor: pointer;
        border: solid;
        border-radius: 5px;
        border-color: var(--bg-color);
        border-width: 1.5px;
        margin-top: 3rem;
    }
    footer{
        margin-top: 20rem;
    }
    footer button{
        padding: 15px 28px;
        background-color: transparent;
        border-color: var(--bg-content-color1);
        border-width: 1.5px;
        border-radius: 5px;
        color: var(--font-color);
        cursor: pointer;
    }
    #contact p{
        font-size: 15px;
        line-height: 25px;
    }
    .nav-mobile{
        display: flex;
        flex-direction: column;
        margin: 60px 0;
    }
    .navigations-mobile li{
        display: inline;
        margin: 0 20px;
        font-size: 20px;
    }
    .nav-mobile p{
        font-size: 40px;
        font-weight: bold;
        margin: 20px 0;
    }
}

@media screen and (max-width: 420px){
    .greetings h1{
        font-size: 45px;
        line-height: 40px;
        margin: 20px 0;
    }
    .position{
        font-size: 32px;
    }
    .greetings button{
        padding: 15px 28px;
        color: var(--bg-content-color1);
    }
    .aboutContainer2 img{
        height: 250px;
        width: 200px;
        border-radius: 20px;
        margin-left: 3rem;
    }
    .containerProjects img{
        width: 250px;
        height: 220px;
        transition: transform .5s;
        opacity: .7;
    }
    .containerProjects p{
        font-size: 15px;
        line-height: 23px;
        text-align: justify;
    }
}
